<div class="menu_bar">
  <div class="responsive_menu">
    <span class="fa fa-navicon"></span>
    <div class="menu_items">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "#about" %></li>
      </ul>
    </div>
  </div>
</div>
